set timeout=5
set default=0

menuentry "Nano OS (Mod Grafic 1024x768)" {
    insmod all_video
    #insmod vbe
    insmod gfxterm

    terminal_output gfxterm
    set gfxpayload=1024x768x32

    multiboot /boot/kernel.bin gfx=graphic
    module /boot/timezone.cfg "config"
    boot
}


